.productContainer {
    text-decoration: none;
    overflow: auto;
    /* padding: 16px; */
}
.productContainer:hover {
    box-shadow: 0 3px 10px 0 rgb(0 0 0 / 11%);
    overflow: auto;
}
.slides {
    margin: 10px;
}
.button-right {
    position: relative;
    top: -100px;
    right: 0px;
}
.button-left {
    position: relative;
    top: -100px;
    left: 1300px;
}


.swiper-container {
    width: 100% !important;
}
  
  @media screen and (min-width: 640px) {
    .swiper-container {
      width: 640px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .swiper-container {
      width: 768px;
    }
  }